---
import MainLayout from "@/layouts/MainLayout.astro";

import Image from "astro/components/Image.astro";
import nftImage from "@/assets/image-equilibrium.jpg";
import profileImage from "@/assets/image-avatar.png";
---

<MainLayout
  title="Frontend Mentor | NFT preview card component"
  description="A Frontend Mentor coding challenge."
>
  <div class="bg-theme-blue-950 flex h-screen justify-center px-6 pt-16 md:items-center md:pt-0">
    <section class="bg-theme-blue-900 h-fit max-w-84 rounded-xl p-6">
      <a href="/">
        <div class="group relative">
          <Image
            src={nftImage}
            alt="Equilibrium #3429"
            class="pointer-events-none h-70 w-full rounded-lg object-cover md:h-75"
            loading="eager"
            width={600}
            height={600}
            format="webp"
          />
          <div
            class="hover:bg-theme-cyan-400/50 absolute inset-0 flex h-full w-full cursor-pointer items-center justify-center rounded-lg opacity-100 transition-all duration-600 group-hover:opacity-100"
            aria-hidden="true"
          >
            <svg
              width="48"
              height="48"
              xmlns="http://www.w3.org/2000/svg"
              class="opacity-0 transition-all duration-600 group-hover:opacity-100"
              aria-label="View image"
              ><g fill="none" fill-rule="evenodd"
                ><path d="M0 0h48v48H0z"></path><path
                  d="M24 9C14 9 5.46 15.22 2 24c3.46 8.78 12 15 22 15 10.01 0 18.54-6.22 22-15-3.46-8.78-11.99-15-22-15Zm0 25c-5.52 0-10-4.48-10-10s4.48-10 10-10 10 4.48 10 10-4.48 10-10 10Zm0-16c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6Z"
                  fill="#FFF"
                  fill-rule="nonzero"></path></g
              ></svg
            >
          </div>
        </div>
      </a>
      <h1
        class="text-theme-white hover:text-theme-cyan-400 mt-5 text-xl font-semibold tracking-wider transition-colors duration-600 hover:cursor-pointer"
      >
        <a href="/">Equilibrium #3429</a>
      </h1>
      <p class="text-theme-blue-500 mt-2 leading-relaxed font-light md:mt-3 md:text-lg">
        Our Equilibrium collection promotes balance and calm.
      </p>
      <div class="mt-3 flex items-center justify-between md:mt-5">
        <div class="flex items-center gap-2">
          <svg width="11" height="18" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            ><path
              d="M11 10.216 5.5 18 0 10.216l5.5 3.263 5.5-3.262ZM5.5 0l5.496 9.169L5.5 12.43 0 9.17 5.5 0Z"
              fill="#00FFF8"></path></svg
          >
          <p class="text-theme-cyan-400">0.041 ETH</p>
        </div>
        <div class="flex items-center gap-2">
          <svg width="17" height="17" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            ><path
              d="M8.305 2.007a6.667 6.667 0 1 0 0 13.334 6.667 6.667 0 0 0 0-13.334Zm2.667 7.334H8.305a.667.667 0 0 1-.667-.667V6.007a.667.667 0 0 1 1.334 0v2h2a.667.667 0 0 1 0 1.334Z"
              fill="#8BACD9"></path></svg
          >
          <p class="text-theme-blue-500">3 days left</p>
        </div>
      </div>
      <hr class="border-theme-blue-800 mt-4 md:mt-6" aria-hidden="true" />
      <div class="mt-4 flex items-center gap-4 md:pb-2">
        <Image
          src={profileImage}
          alt="Jules Wyvern"
          class="border-theme-white size-8 rounded-full border"
          loading="eager"
          width={132}
          height={132}
          format="webp"
        />
        <p class="text-theme-white font-light">
          <span class="text-theme-blue-500">Creation of</span>
          <a
            href="mailto:juleswyvern@acme.com"
            class="hover:text-theme-cyan-400 transition-colors duration-600 hover:cursor-pointer"
            >Jules Wyvern</a
          >
        </p>
      </div>
    </section>
  </div>
</MainLayout>
